# ======================================================================
#  bugzrc.example - an example of user's configuration file for pybugz
# ======================================================================
#
# This file consists of sections which define parameters for each
# bugzilla you plan to use.
# Usually, this file should reside on ~/.bugzrc path.  For more info how to
# configure PyBugz see the distributed pybugz.conf file.
#
# Each section begins with a name in square brackets. This is also the
# name that should be used with the --connection  parameter to the bugz
# command.
#
# Each section of this file consists of lines in the form:
# key: value
# as listed below.
#
# ----------------------------------------------------------------------
# Here follows simple example of ~/.bugzrc file
#
# [MyBugzilla]
#
# The base url of the bugzilla you wish to use.
# This must point to the xmlrpc.cgi script on the bugzilla installation.
#
# base: http://my.project.com/bugzilla/xmlrpc.cgi
#
# It is also possible to encode a username and password into this URL
# for basic http authentication as follows:
#
# base: http://myhttpname:myhttppasswd@my.project.com/bugzilla/xmlrpc.cgi
#
# Next are your username and password for this bugzilla. If you do not
# provide these, you will be prompted for them.
#
# user: myname@my.project.com
# password: secret2
#
# As an alternative to keeping your password in this file you can provide a
# password command. It is evaluated and pybugz expects this command to output
# the password to standard out. E.g.:
#
# passwordcmd: gpg2 --decrypt /myhome/.my-encrypted-password.gpg
#
# The number of columns your terminal can display.
# Most of the time you should not have to set this.
#
# columns: 80
#
# Set the output encoding for pybugz.
#
# encoding: utf-8
#
# Run in quiet mode.
#
# quiet: True
#
# ----------------------------------------------------------------------
# The special section of type 'settings' may also be used.  This contains
# more general settings like default connection, include directory, etc.
# (again, for more info see pybugz.conf).
#
# [MySettings]
#
# type = settings
#
# default connection to be used (without specifying --connection)
#
# connection = Gentoo
#
# All parameters listed above can be used in the default section if you
# only use one bugzilla installation.
#
# ----------------------------------------------------------------------
# There is also possible to redefine (refine) system defined connection.
# System configuration knows nothing about your credentials, so keep the
# basics from system [Gentoo] and specify yours credentials here.
#
# [Gentoo]
# user = myusername@gentoo.org
# password = my-nice-password
# columns = 80
