#
# bugzrc.example - an example configuration file for pybugz
#
# This file consists of sections which define parameters for each
# bugzilla you plan to use.
#
# Each section begins with a name in square brackets. This is also the
# name that should be used with the --connection  parameter to the bugz
# command.
#
# Each section of this file consists of lines in the form:
# key: value
# as listed below.
#
# [sectionname]
# base: http://my.project.com/bugzilla/
# user: xyz@zyx.org
# password: secret2
# httpuser: xyz
# httppassword: secret2
# forget: True
# columns: 80
# encoding: utf-8
# quiet: True
#
# The special section named 'default' may also be used. Other sections will
# override any values specified here. The optional special key 'connection' is
# used to name the default connection, to use when no --connection parameter is
# specified to the bugz command.
#
# [default]
# connection: sectionname
# httpuser: xyz
# httppassword: secret2
# etc.

