[Default]
type: myfeature 

[myfeature]
product: Platform
component: featureX 
version: unspecified
assigned_to: example@example.com 
qa_contact: example2@example.com 
cc: example3@example.com 
cf_which_version: 14.31 
summary: Feature summary  
description: This is a multiline description of the 
	the bug. you can add custom details here.
